:root {
  --darkbackgroundcolor: rgb(18, 18, 18);
  --darkhefooterbackcolor: rgb(30, 30, 30);
  --darktextcolor: rgb(255, 255, 255);
  --cardbackgroundcolor: rgb(50, 52, 66);
  --cardbackgroundshadow: rgb(247, 90, 38);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: var(--cardbackgroundcolor);
  color: var(--darktextcolor);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
  min-height: 100vh;
}

/* game space */
.gameBoard {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 75px 75px 75px;
  gap: 7px;
  justify-content: center;
  margin-top: 5rem;
  color: var(--darktextcolor);
}

.gameBoard button {
  border: none;
  background-color: var(--darkhefooterbackcolor);
  border-radius: 5px;
}
.gameBoard button:hover {
  background-color: rgb(30, 30, 30, 0.181);
}
.gameBoard button:active {
  background-color: var(--darkhefooterbackcolor);
}

.boardReset {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.gameBoardReset {
  border: none;
  background-color: var(--darkhefooterbackcolor);
  border-radius: 5px;
  height: 30px;
  width: 70px;
  color: white;
}
.gameBoardReset:hover {
  background-color: rgb(30, 30, 30, 0.181);
}
.gameBoardReset:active {
  background-color: var(--darkhefooterbackcolor);
}
.tile {
  font-size: 32px;
  font-weight: 500;
  color: white;
}
.winningTiles {
  color: yellow;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 2.5rem;
  gap: 5px;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: blueviolet;
}
a:active {
  color: purple;
}
